{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
<h1><h1>

		<center><h1>Liste Complète Des Restaurants</h1></center>
    <hr/>
    <br/>
       
<div class="row row-cols-1 row-cols-md-5">
  
	 
		{% for resto in restaurants %}
        
       
           
		
  			

  <div class="col">
    <div class="card border-dark mb-3" style="max-width: 20rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <div class="card-header" style =" font-size: 0.3em;"> {{resto.adresse}}  </div>
      <img
        src="https://picsum.photos/id/292/150/150"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
       <h5 class="card-title">{{resto.nom}}</h5>
        <p class="card-text">
        desc
        </p>
        <a href="{{path('restoShow', {'id':resto.id}) }}" class="btn btn-primary">Montrer</a>
				{% if  app.user %}
        <a href="{{path('supprimer', {'id':resto.id}) }}" class="btn btn-danger">Supprimer</a>
        {% endif %}

      </div>
    </div>
  </div>





		{% endfor %}
       


{% endblock %}



   
   

